/* Themify Customize Styling */
body {		
	background-color: #f5f5f5;
	background-color: rgba(245,245,245,1);	
	font-family:Raleway;	line-height:1.5em;
 
}
#headerwrap {		background-image: none;
	background-color: #262626;
	background-color: rgba(38,38,38,1); 
}
#header {		
	font-family:Raleway;	text-align:left;	
	color: #f5f5f5;
	color: rgba(245,245,245,1); 
}
#site-logo {			font-size:2em;

	color: #f5f5f5;
	color: rgba(245,245,245,1); 
}
#site-logo a {	
	color: #f5f5f5;
	color: rgba(245,245,245,1); 
}
#site-description {		display: none; 
}
#main-nav {		
	height: 10px; 
}
#main-nav a {		
	color: #262626;
	color: rgba(38,38,38,1); 
}
#footerwrap {		background-image: none;
	background-color: #262626;
	background-color: rgba(38,38,38,1); 
}
#footer {		
	color: #f5f5f5;
	color: rgba(245,245,245,1); 
}
#footer a {		
	color: #f5f5f5;
	color: rgba(245,245,245,1); 
}
